body {
  margin: 0;
  text-align: center;
}

header{
  background-image: linear-gradient(to left, rgba(137, 212, 207, 0.8), rgba(110, 69, 225, 0.8)), url('bg1.jpg');
  width: 100%;
  height: 425px;
  background-size: 100% 100%;
  color: white;
}

.header {
  padding-top: 159px;
}



h2 {
  margin: auto;
}

p {
  padding-bottom: 10px;
}



.btn {
  height: 2.5rem;
  margin-bottom: 0.6rem;

}

.card {
  width: 28.9rem;
  margin: 45px auto;
}

.date {
  position: absolute;
  right: -90px;
  transition: all 0.3s ease;
}

li .edit-btn{
  position: absolute;
  right:-70px;
  transition: all 0.3s ease;
}

li:hover .edit-btn{
  right:70px;
}

li:hover .date{
  right:70px;
}

.input1 {
  width: 25rem;
  height: 2.5rem;
  border-radius: 7px;
  border: none;
  padding-left: 20px;
}

span .input1{
  margin-top: 15px;
  width: 24rem;
  color: grey;
}

span .input1:hover{
  color: #000;
}

.list-group {
  text-align: left;
  overflow: hidden;
  max-height: 205px;
  overflow-y: auto;
}

.list-group li .deleteBtn {
  position: absolute;
  right: -45px;
  width: 45px;
  transition: all 0.3s ease;
}

.list-group li:hover .deleteBtn {
  right: 0px;
}

.nav-custom .nav-link{
  margin-right: 25px;
  margin-top: 5px;
  color: #fff;
  padding-top: 5px;
}

 .nav-custom:hover .nav-link{
  color: #fff;
}

.tasks {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #000;
}

.tasks button {
  text-align: left;
  margin-right: 15px;
  float: right;
  height: 35px;
}

.tasqr{
  font-family: 'Kristi', cursive;
  font-size: 2.5rem;
  padding-top: 0.7rem;
  position: absolute;
  display: inline-block;
  left: 3rem;
}

.title2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  position: absolute;
  display: inline-block;
  padding-top: 1.9rem;
  left: 7rem;
}

@media only screen and (max-width: 466px) {
    header {
      background-image: linear-gradient(to left, rgba(137, 212, 207, 0.8), rgba(110, 69, 225, 0.8)), url('bg.jpg');
      height: 418px;
      width: 600px;
   }

   span .input1{
     margin-top: 15px;
     width: 24rem;
   }
}

@media only screen and (min-width: 477px) and (max-width: 900px) {
  header {
    background-image: linear-gradient(to left, rgba(137, 212, 207, 0.8), rgba(110, 69, 225, 0.8)), url('bg.jpg');
    height: 418px;
 }
}
